CONNECTION_STRING=mongodb://localhost:27017
DATABASE_NAME=to_do_list
IS_SSL=true
SECRET_KEY=
ISSUER=
AUDIENCE=
ALLOWED_ORIGINS=http://localhost:3000

# Email
EMAIL_FROM=
PASSWORD_EMAIL=
API_URI=

# Firebase
FIREBASE_CREDENTIALS_PATH=